body {
	background-color: #dedede;
	font-family: "黑体";
	padding: 0;
}

/*标题logo和导航栏*/
div.header {
	background-color: #333;
	margin: -0.5em;
	margin-bottom: 1em;
	padding: 10px;
	height: 80px;
	/*position: fixed;*/
}
div.header h1 {
	float:left;
	margin: auto 20px;
}

nav {
	float:right;
	margin: 20px auto;
}

nav li {
	float: left;
	margin-right: 2em;
	text-decoration: none;
	font-size: smaller;
}
nav li a {
	color: #fff;
	text-decoration: none;
}
div.content,
div.sidebar {
	background-color: #fff;
	margin: 1.5em 1em;
	padding: 1.5em;
}
h3,
p.author {
	color: #646464;
}
h3 {
	font-size: normal;
}
p.author {
	font-size: smaller;
}
p.article-content {
	text-indent: 2em;
}
ul.nomarker li {
	list-style-type: none;
	margin: 0.5em 0;
}

/*图片框*/
div.pic {
	width: 340px;
	border: 1px solid #ccc;
	margin: 2em;
	padding: 1em;
}
div.pic p,
div.pic img {
	display: block;
	margin: 1em auto;
	text-align: center;
}

/*表*/
table {
	table-layout: fixed;
	width: 1250px;
	border: 1px solid #ccc;
	margin: 1em auto;
	border-collapse: collapse;
	font-size: smaller;
}
th {
	background-color: #333;
	color: #fff;
	text-align: left;
}
th,
td {
	border: 1px solid #ccc;
	padding: 0.3em;
}
th#r1c1,
th#r1c2 {
	width: 40%;
}
#r6 {
	background-color: #ccc;
	font-weight: bold;
}

/*侧栏*/
div.sidebar {
	font-size: 14px;
}
div.sidebar h2 {
	border-left: #ccc 3px solid;
	padding-left: 1em;
}
form div {
	margin: 10px 0;
}
label.tips {
	float: left;
	text-align: right;
	width: 30%;
	padding-right: 10px;
}
form div p {
	margin-left: 30%;
	padding-left: 10px;
	color: #999;
}
textarea {
	width: 50%;
	height: 100px;
}
.submitButton {
	width: 100%;
	height: 40px;
	background-color: #3355d0;
	color: #fff;
	border-radius: 10px;
	border: none;
}
.submitButton:hover {
	background-color: #3296fa;
}
/*页脚*/
div.footer {
	color: white;
	text-align: center;
	font-size: small;
	background-color: black;
	margin: -10px;
	margin-top: 1.5em;
	/*height: 20px;*/
	padding: 1em;
}