$red: #e74f4d;
$gray: #767777;

@mixin testborder {
    border: 1px solid red;
}

@mixin blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page-wrapper {
    min-width: 1280px;
    /*display: flex;*/
}

header {
    height: 57px;
    width: 100%;
    position: relative;
    nav {
        height: 100%;
        img {
            margin-left: 59px;
            margin-top: 13px;
        }

        span {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 100px;
            font-size: 21px;
            font-family: "黑体";
        }

        ul {
            list-style: none;
            float: right;
            display: inline-block;
            height: 100%;
            margin-right: 40px;
            li {
                display: inline-block;
                padding: 15px 20px;
                a {
                    color: $gray;
                    text-decoration: none;
                    
                }
            }

            li:last-child a {
                color: $red; 
            }
        }
    }
    > img {
        position: absolute;
        top: 19px;
        right: 100px;
    }
}

section:nth-of-type(1) {
    width: 100%;
    height: 690px;
    background-image: url('../images/pic1.png');
    background-size: 100% 100%;
    color: #fff;
    position: relative;
    h1 {
        font-size: 60px;
        position: absolute;
        left: 116px;
        top: 230px;
    }
    p {
        font-size: 21px;
        width: 294px;
        position: absolute;
        left: 124px;
        top: 310px;
    }
    #btn1 {
        width: 331px;
        height: 65px;
        background-color: $red;
        font-size: 30px;
        position: absolute;
        left: 126px;
        top: 429px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section:nth-of-type(2) {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    div {
        display: inline-block;
        width: 100%;
        color: #767777;
        /*@include testborder;*/
        /*display: flex;*/
        img {
            display: block;
            margin-top: 45px;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            width: 176px;
            text-align: center;
            margin-top: 46px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

section:nth-of-type(3) {
    width: 100%;
    height: 361px;
    background-color: #ededec;
    padding-top: 89px;

    img {
        @include blockCenter;
    }
    p {
        color: #323333;
        font-size: 54px;
        font-family: "黑体";
        text-align: center;
        margin-top: 48px;
    }
}

section:nth-of-type(4) {
    width: 100%;
    height: 341px;
    position: relative;
    background-image: url('../images/pic4.png');
    background-size: 100% 100%;
    color: #fff;
    padding-top: 53px;
    h2 {
        text-align: center;
        font-size: 21px;
    }
    p {
        text-align: center;
        margin-top: 19px;
    }
    
    div#query-bar {
        margin-top: 52px;
        width: 1030px;
        @include blockCenter;

        select,
        button {
            width: 236px;
            height: 36px;
        }
        select {
            margin-right: 20px;
        }
        button {
            background-color: $red;
            color: #fff;
            border: 0;
            letter-spacing: 25px;
            text-align: center;
        }
    }
    span {
        width: 31px;
        border-top: 3px #fff solid;
        @include blockCenter;
        margin-top: 10px;
    }
}

section:nth-of-type(5) {
    width: 100%;
    height: 605px;
    background-color: #f7f7f7;
    padding-top: 101px;
    >div {
        width: 1009px;
        @include blockCenter;

        div.pic-container {
            display: inline-block;
            h3 {
                font-weight: normal;
                text-align: center;
            }
            p {
                color: #9f9f9f;
                text-align: center;
            }
            img {
                border: 1px solid #e1e1e1;
            }
        }
        div.pic-container:nth-of-type(-n+3) {
            margin-right: 36px;
        }
    }
}

section:nth-of-type(6) {
    display: flex;
    width: 100%;
    height: 567px;

    div:nth-of-type(1) {
        flex: 2;
        color: #fff;
        background-image: url('../images/pic6-1.png');
        background-size: 100% 100%;
        position: relative;
        p {
            text-align: center;
        }
        p:nth-of-type(1) {
            font-size: 49px;
            margin-top: 131px;
        }
        p:nth-of-type(2) {
            font-size: 158px;
            margin-top: 11px;
            padding: 0;
            line-height: 126px;
        }
        p:nth-of-type(3) {
            font-size: 22px;
            margin-top: 39px;
        }
        img {
            position: absolute;
            top: 267px;
            right: -1px;
        }
    }
    div:nth-of-type(2) {
        flex: 1;
    }
}

section:nth-of-type(7) {
    width: 100%;
    height: 520px;
    display: flex;
    > div {
        flex: 1;
        font-size: 21px;
        text-align: center;
        padding-top: 173px;
        span {
            display: block;
            width: 31px;
            @include blockCenter;
            margin-top: 25px;
            margin-bottom: 25px;
            border-top: 2px solid #fff;
        }
        button {
            width: 170px;
            height: 44px;
            border: 0;
            cursor: pointer;
            font-size: 21px;
        }
    }
    div:nth-of-type(1) {
        background-color: $red;
        color: #fff;
        button {
            border: #fff 1px solid;
            background-color: $red;
            color: #fff;
        }
    }
    div:nth-of-type(2) {
        span {
            border-color: #000;
        }
        button {
            border: $red 1px solid;
            background-color: #fff;
            color: $red;
        }
    }
    div:nth-of-type(3) {
        background-image: url('../images/pic7-1.png');
        background-size: 100% 100%;
        position: relative;
        img {
            position: absolute;
            top: 245px;
            left: -1px;
        }
    }
}

section:nth-of-type(8) {
    width: 100%;
    height: 749px;
    > div:nth-of-type(1) {
        text-align: center;
        margin-bottom: 111px;
        h2 {
            font-size: 21px;
            font-family: "黑体";
            margin-top: 118px;
            font-weight: normal;
        }
        span {
            display: block;
            width: 31px;
            @include blockCenter;
            border-top: 2px solid $red;
            margin-top: 10px;
        }
        p {
            font-size: 12px;
            margin-top: 14px;
            color: #aaa;
        }
    }
    > div:nth-of-type(2) {
        width: 289px;
        margin-left: 138px;
        div {
            margin-bottom: 39px;
            h3 {
                font-size: 14px;
                font-weight: normal;
                font-family: "黑体";
                margin-bottom: 27px;
            }
            p {
                font-size: 12px;
                font-family: "宋体";
                color: #a5a3a2;
            }
            p:last-child {
                text-align: right;
                a {
                    color: #a5a3a2;
                    text-decoration: none;
                }
            }
        }
    }
    form {
        width: 639px;
        float: right;
        margin-right: 139px;
        input,
        textarea,
        button {
            background-color: #ededee;
            border: 0;
            margin-bottom: 13px;
            font-size: 12px;
        }
        input {
            width: 311px;
            height: 41px;
            padding-left: 16px;
        }
        input:nth-of-type(even) {
            margin-left: 10px;
        }
        textarea {
            width: 639px;
            height: 121px;
            padding: 16px;
            resize: none;
        }
        button {
            width: 639px;
            height: 41px;
            font-family: "黑体";
            cursor: pointer;
            font-size: 14px;
        }
    }
}

section:nth-of-type(9) {
    width: 100%;
    height: 361px;
    background-color: #32353e;
    color: #fff;
    text-align: center;
    padding-top: 92px;
    h2 {
        font-weight: normal;
        font-size: 21px;
        font-family: "黑体";
    }
    p {
        margin-top: 12px;
        font-size: 12px;
        margin-bottom: 31px;
        font-family: "宋体";
    }
    form {
        width: 520px;
        height: 41px;
        @include blockCenter;
        input,
        button {
            display: inline-block;
            border-width: 0;
        }
        input {
            width: 430px;
            height: 100%;
            padding-left: 10px;
        }
        button {
            width: 81px;
            height: 100%;
            color: #fff;
            font-size: 15px;
            font-family: "微软雅黑";
            background-color: #6f7178;
            cursor: pointer;
            margin-left: -4px;
        }
    }
    div {
        margin-top: 37px;
        a:nth-of-type(-n+2) {
            margin-right: 27px;
        }
        a:nth-of-type(3) {
            margin-right: 20px;
        }
    }
}

footer {
    width: 100%;
    height: 56px;
    background-color: #303039;
    position: relative;
    span,
    a {
        color: #fff;
        text-decoration: none;
        position: absolute;
        font-family: "宋体";
    }
    span {
        left: 100px;
        bottom: 16px;
    }
    a {
        right: 41px;
        bottom: 16px;
    }
}